.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-titel {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* margin-bottom: 10px; */
    padding-left: 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.modal-input:focus {
    border-color: var(--hover-logo-color);
}



.modal-input:focus+.modal-input-icon {
    fill: var(--hover-logo-color);
}

.input-wrap {
    position: relative;
    margin-bottom: 10px;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-coment-titel {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;

    margin-bottom: 4px;
}

.modal-coment {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 20px;

    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            border-color: var(--hover-logo-color);
        }
}


.modal-field {
    margin-bottom: 30px;
}

.check-text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text span {
    width: 15px;
    height: 16px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 3px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
    color: var(--hover-logo-color);
}

.input-check:checked+.check-text span {
    background-color: var(--hover-logo-color);
    border-color: transparent;
    fill: var(--primery-white-color);
}

.input-check:focus+.check-text span {
    border-color: var(--hover-logo-color);
}

.btn-modal {
    width: 200px;
    height: 50px;
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    margin: 0 auto;

    letter-spacing: 0.06em;

    color: #ffffff;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    position: absolute;
    right: 8px;
    top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-close:hover {
    border: 1px solid var(--hover-logo-color);
    fill: var(--hover-logo-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}