.hero__container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: url('../images/Img-overlay.svg'), url('../images/hero-bg.jpg');
    background-color: #c4c4c4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-white-color);

    width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primery-white-color);
    background-color: var(--hover-logo-color);

    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}
