.team {
    background-color: #f5f4fa;
}

.team-list-card {
    background-color: var(--primery-white-color);
}

.team-list-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-primery-color);
}

.team-titel {
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list-card {
    width: calc((100% - 90px) / 4);
    padding-bottom: 30px;
    border-radius: 4px;
}

.team-img {
    margin-bottom: 30px;
}

.team-list-titel {
    text-align: center;
    margin-bottom: 10px;
}

.team-list-text {
    text-align: center;
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.team-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--hover-logo-color);
            fill: var(--primery-white-color);
        }
}

