.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    gap: 30px;
}

.work-list-item {
    width: calc( 100% - 60px ) / 3;
    position: relative;
}

.work-list-label {
    font-weight: 700;
    line-height: 1.14;
    color: var(--primery-white-color);

    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}